@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Permanent+Marker&display=swap');
.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  }
  /* // <uniquifier>: Use a unique and descriptive class name */

.danfo{
  font-family: "Danfo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "ELSH" 0;
}
p{ 
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style:normal;
    font-size: 18px;
}  
a{
    font-family: "permanent Marker", cursive;
    font-weight: 400;
    font-style:normal;
    font-size: 18px;
    text-decoration: none;
}  
.Title{
    text-align: center;
    color:black;
}
body{
    background-color: darkslategray;
}
.Gallery{
    text-align: center;
    float:center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
.imageA{
    height:300px;
    border: 6px solid rgb(35, 41, 42);
    border-radius: 5px;
    transition:height 80ms;
    transition-timing-function: ease-in-out;
}
.imageA:hover{
    height: 315px;
}    
.innerbox{
    margin: 20px;
    background-color: rgb(72, 130, 130);
    border-radius: 5px;
    padding: 20px;
}
.PenguinA{
    color:black;
    text-decoration: none;
    transition: 60ms;
    transition-timing-function:ease-in;
}
.PenguinA:hover{
    color: rgb(47, 79, 89);
}
h1{
    font-family: "Danfo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "ELSH" 0;
}
.habitat img{
max-width: 400px;
}
.MinorDetails{
 Display: flex;
 Flex-flow: row wrap;
 justify-content: space-evenly;
 align-items: center;
}
.BasicXD{
    Display: flex;
    Flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;    
    font-family:Arial, Helvetica, sans-serif;
}
.GenI{
    font-family:'Times New Roman', Times, serif;
}
